<?xml version="1.0"?>
  <connectionStrings>
    <!--use : User ID and Password if you want to use your own authentication not the windows authentication-->
    <!--<add name="MyBlogContext" connectionString="Data Source=.\SQL2019DEVELOPER;Initial Catalog=MyBlogDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="MyBlogContext" connectionString="Data Source= 185.252.28.170,2019;Initial Catalog= sirmoham_db; uid=sirmoham_db; Password=**1400_sirmohammad_database_password**; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  
